@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>InventAPP</h1>
    <p class="lead">Una aplicación para el control de inventarios.</p>
    
    @using (Html.BeginForm("Load", "Entrada"))
    {

        <input type="submit" value="Iniciar"/>

    }
</div>

<div class="row">
    

        

</div>