@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>InventAPP</h1>

    @using (Html.BeginForm("Load", "Entrada", FormMethod.Post))
    {
        if (ViewBag.Estado != null && ViewBag.Estado==1)
        {
            <script type="text/javascript">

                window.onload = function () {
                    alert("Producto ingresado correctamente");
                };
            </script>

        }
        <p class="lead">Una aplicación para el control de inventarios.</p>

        <input type="submit" value="Agregar producto nuevo" onclick="location.href='@Url.Action("Load", "Entrada")'"/>
        <input type="button" value="Verificar productos" onclick="location.href='@Url.Action("Comprobar", "Entrada")'" />   
}
</div>








