@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>UNIVERSIDAD ESTATAL A DISTANCIA </p>
<p>VICERRECTORÍA ACADÉMICA </p>
<p>ESCUELA DE CIENCIAS EXACTAS Y NATURALES</p>
<p>INGENIERÍA INFORMÁTICA</p>
<p>03101 – Programación avanzada en web</p>
<p>Edwin Retana Araya</p>
