@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>InventAPP</h1>
    <p class="lead">Una aplicación para el control de inventarios.</p>

    @using (Html.BeginForm("Load", "Entrada"))
    {
        <input type="submit" value="Agregar producto nuevo" onclick="location.href='@Url.Action("Load", "Entrada")'" />
        <input type="button" value="Verificar productos" onclick="location.href='@Url.Action("Comprobar", "Entrada")'" />
    }
</div>