@model Inventapp.Models.ProductoEnt

@{
    ViewBag.Title = "Insertar Producto Nuevo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Entrada de producto</title>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: 10pt;
        }

        table {
            border: 1px solid #ccc;
            border-collapse: collapse;
            background-color: #fff;
        }

            table th {
                background-color: #B8DBFD;
                color: #333;
                font-weight: bold;
            }

            table th, table td {
                padding: 5px;
                border: 1px solid #ccc;
            }

            table, table table td {
                border: 0px solid #ccc;
            }

        input[type=text], select {
            width: 150px;
        }
    </style>
</head>
<body>

    <h2>Producto Nuevo</h2>

    @using (Html.BeginForm())
    {
        if (ViewBag.Estado != null && ViewBag.Estado == 1)
        {
            <script type="text/javascript">

                window.onload = function () {
                    alert("Producto ingresado correctamente");
                };
            </script>
        }




        @Html.AntiForgeryToken()


        <table class="table">
            <tr>
                <th colspan="2" align="center">Entrada de producto</th>
            </tr>
            <tr>
                <td>Nombre: </td>
                <td>
                    @Html.EditorFor(model => model.productoN)
                    @Html.ValidationMessageFor(model => model.productoN)
                </td>
            </tr>
        </table>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Ingresar" />
            </div>
        </div>
    }


    <div>
        @Html.ActionLink("Regresar", "Load", "Entrada")
    </div>

</body>

</html>
